# FinFlow Environment Variables

# Node Environment
NODE_ENV=development
PORT=4000

# Next.js Frontend URL
FRONTEND_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:4000/api/v1

# PostgreSQL Database Configuration
POSTGRES_USER=finflow_user
POSTGRES_PASSWORD=finflow_secure_password
POSTGRES_DB=finflow_db
DATABASE_URL=postgresql://finflow_user:finflow_secure_password@localhost:5432/finflow_db?schema=public

# Redis Configuration (For Caching & Queues Abstraction)
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT Authentication Secrets
JWT_ACCESS_SECRET=finflow_access_secret_super_key_2026_change_in_production
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_SECRET=finflow_refresh_secret_super_key_2026_change_in_production
JWT_REFRESH_EXPIRATION=7d

# Organization & Company Defaults
DEFAULT_CURRENCY=INR
DEFAULT_COUNTRY=IN
